{{ if .IsHome }}
  {{ if .Site.Params.homeTitle }}{{ $.Scratch.Set "title" .Site.Params.homeTitle }}{{ else }}{{ $.Scratch.Set "title" .Site.Title }}{{ end }}
  {{ if .Site.Params.subtitle }}{{ $.Scratch.Set "subtitle" .Site.Params.subtitle }}{{ end }}
  {{ if .Site.Params.bigimg }}{{ $.Scratch.Set "bigimg" .Site.Params.bigimg }}{{ end }}
{{ else }}
  {{ $.Scratch.Set "title" .Title }}
  {{ if .Params.subtitle }}{{ $.Scratch.Set "subtitle" .Params.subtitle }}{{ end }}
  {{ if .Params.bigimg }}{{ $.Scratch.Set "bigimg" .Params.bigimg }}{{ end }}
{{ end }}
{{ $bigimg := $.Scratch.Get "bigimg" }}
{{ $title := $.Scratch.Get "title" }}
{{ $subtitle := $.Scratch.Get "subtitle" }}
<div class="container-fluid d-flex justify-content-center p-5" style="height: auto;">
    <div class="alignleft d-flex justify-content-center p-3" style="margin-top: 45px;margin-bottom: -135px">
         <script type="text/javascript">
            amzn_assoc_ad_type = "banner";
      amzn_assoc_marketplace = "amazon";
      amzn_assoc_region = "US";
      amzn_assoc_placement = "assoc_banner_placement_default";
      amzn_assoc_campaigns = "kitchen";
      amzn_assoc_banner_type = "category";
      amzn_assoc_p = "48";
      amzn_assoc_isresponsive = "false";
      amzn_assoc_banner_id = "1BD9MBXK5KWFV9SX7202";
      amzn_assoc_width = "728";
      amzn_assoc_height = "90";
      amzn_assoc_tracking_id = "kri0eb-20";
      amzn_assoc_linkid = "50862c04d284d842f406adad130584fe";
         </script>
         <script src="//z-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&Operation=GetScript&ID=OneJS&WS=1"></script>
        </div>
        </div>
        <br><br>
{{ if or $bigimg $title }}
  {{ if $bigimg }}

    <div id="header-big-imgs" data-num-img={{len $bigimg}}
      {{range $i, $img := $bigimg}}
         {{ if (fileExists $img.src)}}
          data-img-src-{{add $i 1}}="{{$img.src | absURL }}"
         {{else}}
          data-img-src-{{add $i 1}}="{{$img.src}}"
         {{end}}
         {{ if $img.desc}}data-img-desc-{{add $i 1}}="{{$img.desc}}"{{end}}
      {{end}}></div>
  {{ end }}

  <header style="width: 100%; height: auto;text-align: center;" class="header-section {{ if $bigimg }}has-img{{ end }}">
    {{ if $bigimg }}
      <div style="width: 100%; height: auto;" class="intro-header big-img">
    <div class="container" style="width: 100%; height: auto;">
      <div class="row" style="width: 100%; height: auto;text-align: center;">
        <div class="col-lg-12">

        {{ $subtitle := $.Scratch.Get "subtitle" }}
        {{ $title := $.Scratch.Get "title" }}
              <div class="{{ .Type }}-heading">
                <h1>{{ .Site.Title }}<br/>{{ end }}</h1>
                  <!-- {{ if $subtitle }}
                    {{ if eq .Type "page" }}
                      <hr class="small" style="color: #bd8201;min-height: 5px">
                      <h2 class="{{ .Type }}-subheading">{{ $subtitle }}</h2>
                    {{ else }}
                      <h2 class="{{ .Type }}-subheading">{{ $subtitle }}</h2>
                    {{ end }}
                  {{ end }} -->
                  {{ if eq .Type "post" }}
                    {{ partial "post_meta.html" . }}
                  {{ end }}
              </div>
              </div>
            </div>
          </div>
        </div>
        <span class="img-desc" style="display: inline;"></span>
    {{end}}


    <div class="intro-header no-img">
      <div class="container">
        <div class="row" style="margin-top: 35px">
          <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div style="text-decoration: underline;text-underline-offset: 5px;" class="{{ .Type }}-heading">
              {{ if eq .Type "list" }}
                <h1 style="font-size: 45px">{{ if .Data.Singular }}#{{ end }}{{ .Title }}</h1>
              {{ else }}
                <h1 style="font-size: 45px">{{ with $title }}{{.}}{{ else }}<br/>{{ end }}</h1>
              {{ end }}
              {{ if ne .Type "post" }}
                <hr class="small">
              {{ end }}
              {{ if $subtitle }}
                {{ if eq .Type "page" }}
                  <span class="{{ .Type }}-subheading">{{ $subtitle }}</span>
                {{ else }}
                  <h2 class="{{ .Type }}-subheading">{{ $subtitle }}</h2>
                {{ end }}
              {{ end }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="intro-header"></div>
