{{ define "main" }}
<div class="container" role="main" style="max-width: 100%;height: auto;padding:0 15vw">
      <article class="container-fluid" role="main" class="blog-post">
        {{ .Content }}
        
        {{ if .Params.tags }}
          <div class="blog-tags">
            {{ range .Params.tags }}
              <a style="text-decoration: none;" rel="dofollow" href="{{ $.Site.LanguagePrefix | absURL }}tags/{{ . | urlize }}"><button style="background-color: red;color: red;border: 3px solid lightgray;border-radius: 5px;">{{ . }}</button></a>&nbsp;
            {{ end }}
          </div>
        {{ end }}

        {{ if $.Param "socialShare" }}
            <hr/>
            <section id="social-share">
              <div class="list-inline footer-links">
                {{ partial "share-links" . }}
              </div>
            </section>
        {{ end }}
          <br>
        {{ if .Site.Params.showRelatedPosts }}
          {{ range first 1 (where (where .Site.Pages ".Params.tags" "intersect" .Params.tags) "Permalink" "!=" .Permalink) }}
            {{ $.Scratch.Set "has_related" true }}
          {{ end }}

          {{ if $.Scratch.Get "has_related" }}
                  <h4 class="see-also">{{ i18n "seeAlso" }}</h4>
                  <div class="container seeAlsoContainer">
                  <div class="row">
                {{ $num_to_show := .Site.Params.related_content_limit | default 3 }}
                {{ range first $num_to_show (where (where .Site.Pages ".Params.tags" "intersect" .Params.tags) "Permalink" "!=" .Permalink) }}
                    <div class="col mb-5">
                      <div class="card">
                        <img src="{{ .Params.image }}" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">{{ .Title }}</h5>
                          <p class="card-text" style="font-family: Helvetica Neue;font-size:1rem">{{ .Summary | truncate 19 }}</p>
                          <a href="{{ .RelPermalink }}" class="btn cardButton" style="background-color:#112b3c;color:#eee">Click here</a>
                        </div>
                      </div>
                  </div>
                {{ end }}
                  </div>
                </div>

          {{ end }}
        {{ end }}
      </article>
    </div>
  <div class="row my-auto">
    <div class="col p-3">
      {{ if ne .Type "page" }}
        <ul class="pager blog-pager" style="list-style-type: none;margin: 0;padding: 0;">
          {{ if .PrevInSection }}
            <li class="previous d-flex justify-content-start align-items-center">
              <a rel="dofollow" href="{{ .PrevInSection.Permalink }}" data-toggle="tooltip" data-placement="top" title="{{ .PrevInSection.Title }}">&larr; {{ i18n "previousPost" }}</a>
            </li>
            </ul>
            </div>
          {{ end }}
          <div class="col p-3">
          {{ if .NextInSection }}
          <ul class="pager blog-pager" style="list-style-type: none;margin: 0;padding: 0;">
            <li class="next d-flex justify-content-end align-items-center">
              <a rel="dofollow" href="{{ .NextInSection.Permalink }}" data-toggle="tooltip" data-placement="top" title="{{ .NextInSection.Title }}">{{ i18n "nextPost" }} &rarr;</a>
            </li>
          {{ end }}
          </ul>
          </div>
      </div>
    {{ end }}
    </div>

      {{ if (.Params.comments) | or (and (or (not (isset .Params "comments")) (eq .Params.comments nil)) (and .Site.Params.comments (ne .Type "page"))) }}
        {{ if .Site.DisqusShortname }}
          {{ if .Site.Params.delayDisqus }}
          <div class="disqus-comments">
            <button id="show-comments" class="btn btn-default" type="button">{{ i18n "show" }} <span class="disqus-comment-count" data-disqus-url="{{ trim .Permalink "/" }}">{{ i18n "comments" }}</span></button>
            <div id="disqus_thread"></div>

            <script type="text/javascript">
              var disqus_config = function () {
              this.page.url = '{{ trim .Permalink "/" }}';
            };

          </script>
          </div>
          {{ else }}
          <div class="disqus-comments">
            {{ template "_internal/disqus.html" . }}
          </div>
          {{ end }}
        {{ end }}
        {{ if .Site.Params.staticman }}
          <div class="staticman-comments">
            {{ partial "staticman-comments.html" . }}
          </div>
        {{ end }}
      {{ end }}
</div>
{{ end }}
