{{ define "main" }}
  <div class="container" role="main">
    <div class="row" style="width: 100%;height: auto;">
      <div class="col" style="width: 100%;height: auto;">
        {{ with .Content }}
          <div class="well">
            {{.}}
          </div>
        {{ end }}
        <div class="posts-list">
          {{ range .Paginator.Pages }}
            {{ partial "post_preview.html" .}}
          {{ end }}
        </div>
        <div class="row my-auto">
          <div class="col p-3">
        {{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
          <ul class="pager main-pager p-3" style="list-style-type: none;margin: 0;padding: 0;">
            {{ if .Paginator.HasPrev }}
              <li class="previous d-flex align-items-center justify-content-start">
                <a href="{{ .Permalink }}page/{{ .Paginator.Prev.PageNumber }}/">&larr; {{ i18n "newerPosts" }}</a>
              </li>
            </div>
          </ul>
            {{ end }}
            <div class="col p-3">
            {{ if .Paginator.HasNext }}
            <ul class="pager blog-pager p-3" style="list-style-type: none;margin: 0; padding: 0">
              <li class="next d-flex align-items-center justify-content-end">
                <a href="{{ .Permalink }}page/{{ .Paginator.Next.PageNumber }}/">{{ i18n "olderPosts" }} &rarr;</a>
              </li>
            {{ end }}
            </div>
          </ul>
          </div>
        {{ end }}
      </div>
    </div>
  </div>
{{ end }}
