{{ define "main" }}
<meta name="robots" content="index, follow" />
<meta name="description" content="Comprehensive active collection selected to make it possible the navigation of kitchen remodel ideas archetypal pages.">
  <div class="container" role="main">
    <div class="row" style="width: 100%;height: auto;">
      <div class="col" style="width: 100%;height: auto;">
        {{ with .Content }}
          <div class="well">
            {{.}}
          </div>
        {{ end }}
        <div class="posts-list">
          {{ range .Paginator.Pages }}
            {{ partial "post_preview.html" .}}
          {{ end }}
        </div>
        {{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
        <div class="row my-auto">
            {{ if eq .Paginator.PageNumber 2 }}
            <div class="col p-3">
            <ul class="pager main-pager p-3" style="list-style-type: none;margin: 0;padding: 0;">
            <li class="previous d-flex align-items-center justify-content-start">
              <a href="{{ .Permalink }}">&larr; {{ i18n "newerPosts" }}</a>
            </li>
          </ul>
          </div>
            {{ end }}
            {{ if and (.Paginator.HasPrev) (ge .Paginator.PageNumber 3) }}
            <div class="col my-auto p-3">
            <ul class="pager main-pager p-3" style="list-style-type: none;margin: 0;padding: 0;">
              <li class="previous d-flex align-items-center justify-content-start">
                <a href="{{ .Permalink }}page/{{ .Paginator.Prev.PageNumber }}">&larr; {{ i18n "newerPosts" }}</a>
              </li>
              </ul>
            </div>
            {{ end }}
            {{ if .Paginator.HasNext }}
            <div class="col my-auto p-3">
            <ul class="pager blog-pager p-3" style="list-style-type: none;margin: 0; padding: 0">
              <li class="next d-flex align-items-center justify-content-end">
                <a href="{{ .Permalink }}page/{{ .Paginator.Next.PageNumber }}">{{ i18n "olderPosts" }} &rarr;</a>
              </li>

          </ul>
          </div>
        {{ end }}
          </div>
        {{ end }}
      </div>
    </div>
  </div>
{{ end }}
