{{ define "main" }}

{{ $data := .Data }}
<style>
  .ppTitle {
    font-size: 25px;
    font-weight: 200;
    color: #bd8201;
    margin-top: -80px;
  }
  .ppTitle:hover {
    color: #654601;
    cursor: pointer;
  }
</style>
<div class="container" role="main" style="text-align: center;">
  <div class="row" role="main" style="text-align: center">
    <p class="ppTitle" onclick="appear()">Don't Know Where to Begin? (click to expand)</p>
    <p id="hiddenPp" style="display: none;border: 3px solid #70ADD7;padding: 20px;">Dive deep into your next exciting kitchen remodeling post! The ultimate guide displays a complete list of terms. We broke it down by category for you literally to set you up with a convenient cheat-sheet. We've nailed down exactly the types of kitchen remodeling buzz words to quick-start your journey to the gargantuan world of kitchen remodeling and renovation.</p>
  </div>
  <div class="col">
    <article class="post-preview">
      <div class="panel-group" id="accordion">
        {{ range $key, $value := .Data.Terms.ByCount }}
          <div class="panel panel-default">
            <a class="collapsed" role="button" rel="dofollow" data-bs-toggle="collapse" data-bs-target="#collapse{{ $value.Name | replaceRE "/$" ""}}" data-parent="#accordion">
                <div class="panel-heading" id="header{{ $value.Name }}">
                  <h4 class="panel-title">
                      {{ $value.Name }}
                    <span class="badge">{{ $value.Count }}</span>
                  </h4>
                </div>
            </a>
            <div id="collapse{{ $value.Name }}" class="panel-collapse collapse">
              <div class="panel-body">
                <a rel="dofollow" href="{{ $.Site.LanguagePrefix | absURL }}/{{ $data.Plural }}/{{ $value.Name | urlize | replaceRE "/$" "" }}" class="list-group-item view-all">
                View all</a>
                <div class="list-group">
                  {{ range $item := $value.WeightedPages }}
                    <a href="{{$item.Permalink | replaceRE "/$" ""}}" rel="dofollow" class="list-group-item">{{ $item.Title }}</a>
                  {{ end }}
                </div>
              </div>
            </div>
          </div>
        {{ end }}
      </div>
    </article>
  </div>
</div>
<script>
  function appear() {
    var pp = document.getElementById('hiddenPp');
    pp.style.display = 'inline';
  }
  </script>

{{ end }}
