<!-- PreConnects -->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="preconnect" href="https://katex.org/">
<link rel="preconnect" href="https://fontawesome.com/">
<link rel="preconnect" href="https://fonts.google.com/">
<link rel=preconnect href=https://cdnjs.cloudflare.com/>
<!-- Favicon -->
<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

<!-- Preloads -->
<link media="print" onload="this.media='all'" href="../webfonts/fa-solid-900.woff2" as="font" type="font/woff2" crossorigin>
<link media="print" onload="this.media='all'" href="../webfonts/fa-brands-400.woff2" as="font" type="font/woff2" crossorigin>
