<!-- PreConnects -->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="preconnect" href="https://katex.org/">
<link rel="preconnect" href="https://fontawesome.com/">
<link rel="preconnect" href="https://fonts.google.com/">
<link rel=preconnect href=https://cdnjs.cloudflare.com/>
<!-- Favicon -->
<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

<!-- Preloads -->
<!-- <link rel="preload" as="font" type="font/woff2" crossorigin href="fontawesome/webfonts/fa-solid-900.woff2"/>
<link rel="preload" as="font" type="font/woff2" crossorigin href="fontawesome/webfonts/fa-brands-400.woff2"/> -->

<!-- Load Class Asynchronously -->

<link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'" integrity="sha512-usVBAd66/NpVNfBge19gws2j6JZinnca12rAe2l+d+QkLU9fiG02O1X8Q6hepIpr/EYKZvKx/I9WsnujJuOmBA==" crossorigin="anonymous" referrerpolicy="no-referrer">
<noscript><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css"></noscript>

<link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.5.0/css/all.css" integrity="sha512-e+PxBumNbaIweetzh9C4Ptz8bD8NwI/H8usndKNEzmaBAKKR7sa8pp6iVqqeP04KHZSCzMaoRg0LFsAeImVHWg==" as="style" onload="this.onload=null;this.rel='stylesheet'" crossorigin="anonymous" referrerpolicy="no-referrer">
<noscript><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css"></noscript>
