<!-- PreConnects -->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="preconnect" href="https://fontawesome.com/">
<link rel="preconnect" href="https://fonts.google.com/">
<link rel=preconnect href=https://cdnjs.cloudflare.com/>
<!-- Favicon -->
<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

<!-- Preloads -->
<link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css" as="style" >
<link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.5.0/css/all.css" as="style" >
<link rel="preload" href="https://www.kitchenremodelideas.com/css/main.css" as="style" >
<link rel="preload" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic&display=swap" as="style" >
<link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&display=swap" as="style" >
<link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.5.0/webfonts/fa-solid-900.woff2" as="font" type="font/woff2" >
<link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.5.0/webfonts/fa-brands-400.woff2" as="font" type="font/woff2" >
<link rel="preload" href="https://fonts.gstatic.com/s/opensans/v23/mem5YaGs126MiZpBA-UN8rsOUuhpKKSTjw.woff2" as="font" type="font/woff2" >
<link rel="preload" href="https://fonts.gstatic.com/s/opensans/v23/mem5YaGs126MiZpBA-UN_r8OUuhpKKSTjw.woff2" as="font" type="font/woff2" >
<link rel="preload" href="https://fonts.gstatic.com/s/opensans/v23/mem8YaGs126MiZpBA-UFVZ0bf8pkAg.woff2" as="font" type="font/woff2" >
<link rel="preload" href="https://www.kitchenremodelideas.com/css/highlight.min.css" as="style" >
<link rel="preload" href="https://www.kitchenremodelideas.com/css/codeblock.css" as="style" >
<link rel="preload" href="https://www.kitchenremodelideas.com/css/fcLinks.css" as="style" >

<!-- Load Class Asynchronously -->

<link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'" integrity="sha512-usVBAd66/NpVNfBge19gws2j6JZinnca12rAe2l+d+QkLU9fiG02O1X8Q6hepIpr/EYKZvKx/I9WsnujJuOmBA==" crossorigin="anonymous" referrerpolicy="no-referrer">
<noscript><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css"></noscript>

<link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.7.1/css/all.css" as="style" onload="this.onload=null;this.rel='stylesheet'" integrity="sha512-+ubdCwaPd23Rs7VSlGjW9c+WFjPvbBbHciVOOXv8g2x0PhuB28W15EKn9xKodoNbFOYMiCf44RrW10/GGXp/SQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<noscript><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.7.1/css/all.css"></noscript>

<style>
  .navbar-custom {
    background: #112b3c;
    border-bottom: 1px solid #EAEAEA;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }

  .navbar-custom .nav li a {
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
  }

  .navbar-custom .navbar-brand,
  .navbar-custom .nav li a {
    font-weight: 800;
    color: #FEBE34;
    min-width: 120px;
  }

  .navbar-custom .navbar-brand:hover,
  .navbar-custom .navbar-brand:focus ,
  .navbar-custom .nav li a:hover,
  .navbar-custom .nav li a:focus {
    color: #eee;
  }



  .navbar-custom .navbar-brand-logo {
    padding-top: 0;
    -webkit-transition: padding .5s ease-in-out;
    -moz-transition: padding .5s ease-in-out;
    transition: padding .5s ease-in-out;
  }
  .navbar-custom .navbar-brand-logo img {
    height: 50px;
    -webkit-transition: height .5s ease-in-out;
    -moz-transition: height .5s ease-in-out;
    transition: height .5s ease-in-out;
  }
  .navbar-custom.top-nav-short .navbar-brand-logo {
    padding-top: 5px;
  }
  .navbar-custom.top-nav-short .navbar-brand-logo img {
    height: 40px;
  }

  @media only screen and (min-width: 768px) {
    .navbar-custom {
      padding: 20px 0;
      -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
      -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
      transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .navbar-custom.top-nav-short {
      padding: 0;
    }
  }

  .navbar-custom .avatar-container {
    opacity: 1;
    visibility: visible;
    position: absolute;
    -webkit-transition: visibility 0.5s, opacity 0.5s ease-in-out;
    -moz-transition: visibility 0.5s, opacity 0.5s ease-in-out;
    transition: visibility 0.5s, opacity 0.5s ease-in-out;
    left: 50%;
    width: 50px;
  }
  .navbar-custom .avatar-container  .avatar-img-border {
    width: 100%;
    border-radius: 50%;
    margin-left: -50%;
    display: inline-block;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  }
  .navbar-custom .avatar-container  .avatar-img {
    width: 100%;
    border-radius: 50%;
    display: block;
  }

  .navbar-custom.top-nav-short .avatar-container{
    opacity: 0;
    visibility: hidden;
  }

  .navbar-custom.top-nav-expanded .avatar-container  {
    display: none;
  }

  @media only screen and (min-width: 768px) {
    .navbar-custom .avatar-container {
      width: 100px;
      margin-top: -50px;
    }

    .navbar-custom .avatar-container  .avatar-img-border {
      width: 100%;
      box-shadow: 1px 1px 2px rgba(0, 0, 0, .8);
      -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, .8);
      -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, .8);
    }

    .navbar-custom .avatar-container  .avatar-img {
      width: 100%;
    }
  }

  /* Multi-level navigation links */
  .navbar-custom .nav .navlinks-container {
    position: relative;
  }

  .navbar-custom .nav .navlinks-container :hover {
    background-color: #717874;
  }

  .navbar-custom .nav .navlinks-parent:after {
    content: " \25BC";
  }
  .navbar-custom .nav .navlinks-children {
    width: 100%;
    word-break: break-word;
  }

  .navbar-custom .nav .navlinks-container .navlinks-children a {
    display: block;
    padding: 10px;
    padding-left: 30px;
    background: #8f8f8f;
    text-decoration: none !important;
    border-width: 0 1px 1px 1px;
    font-weight: normal;
  }

  @media only screen and (min-width: 768px) {
    .navbar-custom .nav .navlinks-container {
      text-align: center;
    }
    .navbar-custom .nav .navlinks-container:hover {
      background: #eee;
    }
    .navbar-custom .nav .navlinks-container:hover .navlinks-children {
      display: block;
    }
    .navbar-custom .nav .navlinks-children {
      position: absolute;
    }

    .navbar-custom .nav .navlinks-children a:hover {
      color: #112b3c;
    }

    .navbar-custom .nav .navlinks-container .navlinks-children a {
      padding-left: 10px;
      border: 1px solid #eaeaea;
      border-width: 0 1px 1px;
    }
  }

  @media only screen and (max-width: 768px) {
    .navbar-custom .nav .navlinks-children a:hover {
      color: #112b3c;
    }
  }


  .intro-header {
    margin: 80px 0 20px;
    position: relative;
  }
  .intro-header.big-img {
    background: no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    margin-top: 53px; /* The small navbar is 50px tall + 1px border */
    margin-bottom: 35px;
    background-image: -webkit-image-set(
      url("/img/small-kitchen-88M2ZCJ.webp") 1x,
      url("/img/large-kitchen-88M2ZCJ.webp") 2x);
    background-image: image-set(
      url("/img/small-kitchen-88M2ZCJ.webp") 1x,
      url("/img/large-kitchen-88M2ZCJ.webp") 2x);
  }
  .intro-header.big-img  .big-img-transition {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    -webkit-transition: opacity 1s linear;
    -moz-transition: opacity 1s linear;
    transition: opacity 1s linear;
  }
  .intro-header .page-heading,
  .intro-header .tags-heading,
  .intro-header .categories-heading {
    text-align: center;
  }
  .intro-header.big-img .page-heading,
  .intro-header.big-img .post-heading {
    padding: 100px 0;
    color: #FFF;
    text-shadow: 1px 1px 3px #000;
  }
  .intro-header .page-heading h1,
  .intro-header .tags-heading h1,
  .intro-header .categories-heading h1 {
    margin-top: 0;
    font-size: 50px;
  }
  .intro-header .post-heading h1 {
    margin-top: 0;
    font-size: 35px;
  }
  .intro-header .page-heading .page-subheading,
  .intro-header .post-heading .post-subheading {
    font-size: 27px;
    line-height: 1.1;
    display: block;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 300;
    margin: 10px 0 0;
  }
  .intro-header .post-heading .post-subheading {
    margin-bottom: 20px;
  }
  .intro-header.big-img .page-heading .page-subheading,
  .intro-header.big-img .post-heading .post-subheading {
    font-weight: 400;
  }
  .intro-header.big-img .page-heading hr {
    box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    -moz-box-shadow: 1px 1px 3px #000;
  }
  .intro-header.big-img .post-heading .post-meta {
    color: #EEE;
  }
  .intro-header.big-img .img-desc {
    background: rgba(30, 30, 30, 0.6);
    position: absolute;
    padding: 5px 10px;
    font-size: 11px;
    color: #EEE;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    right: 0;
    bottom: 0;
    display: none;
  }
  @media only screen and (min-width: 768px) {
    .intro-header {
      margin-top: 130px;
      width: 100%;
      height: auto;
    }
    .intro-header.big-img {
      margin-top: 91px;  /* Full navbar is small navbar + 20px padding on each side when expanded */
    }
    .intro-header.big-img .page-heading,
    .intro-header.big-img .post-heading  {
      padding: 150px 0;
    }
    .intro-header .page-heading h1,
    .intro-header .tags-heading h1,
    .intro-header .categories-heading h1 {
      font-size: 80px;
    }
    .intro-header .post-heading h1 {
      font-size: 50px;
    }
    .intro-header.big-img .img-desc {
      font-size: 14px;
    }
  }

  .header-section.has-img .no-img {
    margin-top: 0;
    background: #FCFCFC;
    margin: 0 0 40px;
    padding: 20px 0;
    box-shadow: 0 0 5px #AAA;
  }
  /* Many phones are 320 or 360px, so make sure images are a proper aspect ratio in those cases */
  .header-section.has-img .intro-header.no-img {
    display: none;
  }
  @media only screen and (max-width: 365px) {
    .header-section.has-img .intro-header.no-img {
      display: block;
    }
    .intro-header.big-img {
      width: 100%;
      height: 220px;
    }
    .intro-header.big-img .page-heading,
    .intro-header.big-img .post-heading {
      display: none;
    }
    .header-section.has-img .big-img {
      margin-bottom: 0;
    }
  }
  @media only screen and (max-width: 325px) {
    .intro-header.big-img {
      height: 200px;
    }
  }

  .caption {
    text-align: center;
    font-size: 14px;
    padding: 10px;
    font-style: italic;
    margin: 0;
    display: block;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  .fcH2 {
    font-family: 'Helvetica Neue';
    font-size:50px;
    text-align: center;
    letter-spacing: .4rem;
    max-width: 100%;
    height: auto;
    min-height: 5vh;
  }


  footer {
    padding: 30px 0;
    background: #112b3c;
    border-top: 3px #717874 solid;
    margin-top: auto;
    font-size: 14px;
  }

  footer a {
    color: #404040;
  }
  footer a:hover {
    color: #bd8201;
  }

  footer .list-inline {
    margin: 0;
    padding: 0;
  }
  footer .copyright {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-align: center;
    margin-bottom: 0;
    font-display: swap
  }

  footer .copyright a:hover {
    color: #bd8201 !important;
  }

  footer .krifooter {
    color: #eee;
  }

  footer .krifooter a:hover {
    color: #bd8201;
  }

  footer .theme-by a {
    text-align: center;
    margin: 0px 10px 0;
    color: #eee;
  }

  footer .theme-by a:hover {
    color: #bd8201 !important;
  }

  @media only screen and (min-width: 768px) {
    footer {
      padding: 50px 0;
    }
    footer .footer-links {
      font-size: 18px;
    }
    footer .copyright {
      font-size: 16px;
    }
  }

  .post-preview {
    padding: 20px 0;
    border-bottom: 1px solid #eee;
  }

  @media only screen and (min-width: 768px) {
    .post-preview {
      padding: 35px 0;
    }
  }

  .post-preview:last-child {
    border-bottom: 0;
  }

  .post-preview a {
    text-decoration: none;
    color: #112b3c;
  }

  .post-preview a:focus,
  .post-preview a:hover {
    text-decoration: none;
    color: #bd8201;
  }

  .post-preview .post-title {
    font-size: 30px;
    margin-top: 0;
  }
  .post-preview .post-subtitle {
    margin: 0;
    font-weight: 300;
    margin-bottom: 10px;
  }
  .post-preview .post-meta,
  .post-heading .post-meta,
  .page-meta {
    color: #808080;
    font-size: 18px;
    font-style: italic;
    margin: 0 0 10px;
  }
  .page-meta {
    align-self: center;
  }
  .post-preview .post-meta a,
  .post-heading .post-meta a,
  .page-meta a {
    color: #404040;
    text-decoration: none;
  }
  .post-preview .post-entry {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-display: swap
  }
  .post-entry-container {
    display: inline-block;
    width: 100%;
  }
  .post-entry {
    width: 100%;
    margin-top: 10px;
  }
  .post-image {
    float: right;
    height: 192px;
    width: 192px;
    margin-top: -35px;
    filter: grayscale(90%);
  }
  .post-image:hover {
    filter: grayscale(0%);
  }
  .post-image img {
    border-radius: 100px;
    height: 192px;
    width: 192px;
  }
  .post-preview .post-read-more {
    font-weight: 800;
    float: right;
  }

  @media only screen and (min-width: 768px) {
    .post-preview .post-title {
      font-size: 36px;
    }
  }

</style>
