{{ define "main" }}
  <div role="main" class="container-fluid">
    <div class="row">
      <div class="col">
        {{ with .Content }}
          <div class="well" style="margin-top: -100px;">
            {{.}}
          </div>
        {{ end }}

        <div class="posts-list">
          {{ $pag := .Paginate (where site.RegularPages "Type" "in" site.Params.mainSections) }}
          {{ range $pag.Pages }}
            {{ partial "post_preview" . }}
          {{ end }}
        </div>
      </div>
    </div>
  </div>
{{ end }}
