  <link rel="stylesheet" media="print" onload="this.media='all'" href="{{ "css/fcLinks.css" | absURL }}" />
<html>
<div class="row d-flex justify-content-center" style="color:#333;font-weight: 300;font-size: 45px; padding: 20px;text-align: center;max-width: 100%; height: auto; min-height: 7vh;">
  <div class="col d-flex justify-content-center" style="max-width: 100%; height: auto; min-height: 5vh">
<h2 class="justify-content-center" style="max-width: 100%; height: auto; min-height: 5vh;text-align: center;">Popular Kitchen Design</h2>
</div>
</div>
<img src="/img/homeIcon.webp" width="80" height="80" class="img-fluid justify-content-center" title="Icon of House Image" alt="home icon" style="border:0;max-width: 80px;margin: 0px 0px 0px 0px;text-align: center;margin-left: auto; margin-right: auto; display: block;">
<br>
<h2 class="fcH2" style="font-family: 'Helvetica Neue';font-size:50px;text-align: center;letter-spacing: .4rem;max-width: 100%; height: auto; min-height: 5vh;">Discover your Kitchen</h2>
<br>
  <picture>
    <source srcset="/img/landingPage/bluePrint-small.webp 300w, /img/landingPage/bluePrint.webp 598w" sizes="(max-width: 768px) 12vw, 25vw" type="image/webp" >
<img class="img d-flex mx-auto justify-content-center"  title="Architect's Drawn Out Blue Print Plan" alt="Blue Print on Table"  src="img/landingPage/bluePrint.webp" width="598" height="399" style="margin-bottom: 30px;max-width: 100%;height: auto;">
  </picture>
<p style="text-align: center;">On-Demand Design and Innovation for any kitchen remodeling project. If you're installing a new stone countertop, researching natural quartz, or updating your kitchen backsplash, you can design your dream kitchen with us.</p>
<br>
<h2 style="font-family: 'verdana';font-weight:500;font-size:50px;color:#bd8201;text-align: center;max-width: 100%; height: auto; min-height: 8vh">
Featured Categories
</h2>
<div class="row row-cols-1 row-cols-md-1 row-cols-lg-3 g-4 pb-3">
  <div class="col">
    <div class="card">
      <div class="ratio" style="--bs-aspect-ratio: 66.6%;">
      <img class="card-img-top " srcset="/img/fcImages/kitchen-faucets-on-shelf-closeup-plumbing-shop-PSC9EJX-lg.webp 324w, /img/fcImages/kitchen-faucets-on-shelf-closeup-plumbing-shop-PSC9EJX-md.webp 216w, /img/fcImages/kitchen-faucets-on-shelf-closeup-plumbing-shop-PSC9EJX-sm.webp 144w" width="144" height="96" sizes="(max-width: 480px) 144px,(max-width: 720px) 216px, 324px" src="/img/fcImages/kitchen-faucets-on-shelf-closeup-plumbing-shop-PSC9EJX-sm.webp" loading="lazy" class="card-img-top" alt="kitchen faucets on shelf closeup plumbing shop" />
    </div>
      <div class="card-body">
        <h2 class="card-title" style="color: #112b3c;font-weight:900;text-align: center">Faucets</h5><hr>
        <p class="card-text" style="overflow: auto;min-height: 15vh">State-of-the-art kitchen faucets with tough finishes make no worry of dripping, corroded supply hoses, or leaking. We cover topics like regular upkeep and maintenance as well as shopping comparisons and reviews.</p>
        <a class="fcButton" href="/tags/faucets/" rel="dofollow">Go to Faucets</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="ratio" style="--bs-aspect-ratio: 66.6%;">
      <img class="card-img-top" srcset="/img/fcImages/modern-kitchen-cabinets-with-new-appliances-PZ7GU43-lg.webp 324w, /img/fcImages/modern-kitchen-cabinets-with-new-appliances-PZ7GU43-md.webp 216w, /img/fcImages/modern-kitchen-cabinets-with-new-appliances-PZ7GU43-sm.webp 144w" width="144" height="96" sizes="(max-width: 480px) 144px,(max-width: 720px) 216px, 324px" src="/img/fcImages/modern-kitchen-cabinets-with-new-appliances-PZ7GU43-sm.webp" loading="lazy" class="card-img-top" alt="modern kitchen cabinets with new appliances">
    </div>
      <div class="card-body">
        <h2 class="card-title" style="color: #112b3c;font-weight:900;text-align: center;">Cabinets</h5><hr>
        <p class="card-text" style="overflow: auto;min-height: 15vh">For any project, remodeling your kitchen's cabinets can make a huge difference functionally and style-wise as they're one of the first things your guests notice. Find out about our little-known cabinet remodeling ideas.</p>
        <a href="/tags/cabinets/" class="fcButton" rel="dofollow">Go to Cabinets</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="ratio" style="--bs-aspect-ratio: 66.6%;">
      <img class="card-img-top" srcset="/img/fcImages/close-up-of-woman-choosing-quartz-materials-for-co-JFBLMTE-lg.webp 324w, /img/fcImages/close-up-of-woman-choosing-quartz-materials-for-co-JFBLMTE-md.webp 216w, /img/fcImages/close-up-of-woman-choosing-quartz-materials-for-co-JFBLMTE-sm.webp 144w" width="144" height="96" sizes="(max-width: 480px) 144px,(max-width: 720px) 216px, 324px" src="/img/fcImages/close-up-of-woman-choosing-quartz-materials-for-co-JFBLMTE-sm.webp" loading="lazy" class="card-img-top" alt="close up of woman choosing quartz material">
    </div>
      <div class="card-body">
        <h2 class="card-title" style="color: #112b3c;font-weight:900;text-align: center">Countertops</h5><hr>
        <p class="card-text" style="overflow: auto;min-height: 15vh">Make your kitchen truly yours once again. With our industry reports you can improve the look of drab counters and restore the look of worn out countertops to bring it all back to a beautiful new kitchen of style and form.</p>
        <a href="/tags/countertops/" class="fcButton" rel="dofollow">Go to Countertops</a>
      </div>
    </div>
  </div>
</div>
<div class="row row-cols-1 row-cols-md-1 row-cols-lg-3 g-4">
  <div class="col">
    <div class="card">
      <div class="ratio" style="--bs-aspect-ratio: 66.6%;">
      <img class="card-img-top" srcset="/img/fcImages/laminate-floor-background-texture-wooden-laminate--SNAK39K-lg.webp 324w, /img/fcImages/laminate-floor-background-texture-wooden-laminate--SNAK39K-md.webp 216w, /img/fcImages/laminate-floor-background-texture-wooden-laminate--SNAK39K-sm.webp 144w" width="144" height="96" src="/img/fcImages/laminate-floor-background-texture-wooden-laminate--SNAK39K-sm.webp" sizes="(max-width: 480px) 144px,(max-width: 720px) 216px, 324px" loading="lazy" class="card-img-top" alt="laminate floor background texture wooden laminate">
    </div>
      <div class="card-body">
        <h2 class="card-title" style="color: #112b3c;font-weight:900;text-align: center">Flooring</h5><hr>
        <p class="card-text" style="overflow: auto;min-height: 15vh">Commonly installed from wall-to-wall and prized for its durability to withstand pressure over time. New flooring may improve the look and value of your house. Scratch-resistant technology is used to delay wear and tear.</p>
        <a href="/tags/flooring/" class="fcButton" rel="dofollow">Go to Flooring</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="ratio" style="--bs-aspect-ratio: 66.6%;">
      <img class="card-img-top" srcset="/img/fcImages/home-decor-renovation-and-remodeling-projects-kitc-Q989R7A-lg.webp 324w, /img/fcImages/home-decor-renovation-and-remodeling-projects-kitc-Q989R7A-md.webp 216w, /img/fcImages/home-decor-renovation-and-remodeling-projects-kitc-Q989R7A-sm.webp 144w" width="144" height="96" src="/img/fcImages/home-decor-renovation-and-remodeling-projects-kitc-Q989R7A-sm.webp" sizes="(max-width: 480px) 144px,(max-width: 720px) 216px, 324px" loading="lazy" class="card-img-top" alt="home decor renovation and remodeling projects">
    </div>
      <div class="card-body">
        <h2 class="card-title" style="color: #112b3c;font-weight:900;text-align: center">Wall Tiles</h5><hr>
        <p class="card-text" style="overflow: auto;min-height: 15vh">Better known as a kitchen backsplash, in recent technology, the unique positioning of wall tiles end up stopping water and food items from pooling on the surface, which may lead to water damage.</p>
        <a href="/tags/wall-tiles/" class="fcButton" rel="dofollow">Go to Wall Tiles</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="ratio" style="--bs-aspect-ratio: 66.6%;">
      <img class="card-img-top" srcset="/img/fcImages/vegetarian-dinner-party-gathering-PJGXMN2-lg.webp 324w, /img/fcImages/vegetarian-dinner-party-gathering-PJGXMN2-md.webp 216w, /img/fcImages/vegetarian-dinner-party-gathering-PJGXMN2-sm.webp 144w" width="144" height="96" src="/img/fcImages/vegetarian-dinner-party-gathering-PJGXMN2-sm.webp" sizes="(max-width: 480px) 144px,(max-width: 720px) 216px, 324px" loading="lazy" class="card-img-top" alt="vegetarian dinner party gathering">
    </div>
      <div class="card-body">
        <h2 class="card-title" style="color: #112b3c;font-weight:900;text-align: center">Essentials</h5><hr>
        <p class="card-text" style="overflow: auto;min-height: 15vh">Throwing a party with what you have? Want to leave a good impression? The kitchen is the capital of party city, whether you're throwing a wine tasting or you just don't know where to begin, we offer something new.</p>
        <a href="/tags/essentials/" class="fcButton" rel="dofollow">Go to Essentials</a>
      </div>
    </div>
  </div>
</div>
<div class="row" style="text-align: center">
  <div class="col">
  <a href="/tags/" rel="dofollow">
    <button class="btn-primary" style="border-radius: 10px;margin-top: 20px">View All Posts</button>
  </a>
</div>
</div>

<div class="row" style="background:#eee;color:#111; padding: 20px; text-align: center;margin-top: 20px;">
<p class="align-items-center my-auto">Fall in love with your kitchen all over again and give each aspect the finest of detail. We cover a variety of topics such as, tile options, cabinet installation tips, heat resistant materials, and so much more.</p>
</div>
<br>
<h2 style="font-size: 37px; font-family: verdana;font-weight:800;margin:50px 0px -150px 0px;text-align: center;">Recent Kitchen Renovation Posts
</h2>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</html>
