  <link rel="stylesheet" media="print" onload="this.media='all'" href="{{ "css/fcLinks.css" | absURL }}" />
<html>
<div class="row" style="color:#333;font-weight: 300;font-size: 45px; padding: 20px;text-align: center;">
  <div class="col">
<h2>Popular Kitchen Design</h1>
</div>
</div>
<img src="img/homeIcon.webp" width="40" height="40" class="img-fluid justify-content-center" title="Icon of House Image" alt="home icon" style="border:0;max-width: 40px;margin: 0px 0px 0px 0px;text-align: center;margin-left: auto; margin-right: auto; display: block;">
<br>
<h2 style="font-family: 'Arial';font-size:50px;text-align: center;letter-spacing: .4rem;">Discover your Kitchen</h2>
<br>
<div class="container-fluid d-flex justify-content-center position-relative max-width">
<img srcset="img/landingPage/bluePrint-small.webp 200w, img/landingPage/bluePrint.webp 400w" sizes="(max-width: 768px) 200px, 400px" title="Architect's Drawn Out Blue Print Plan" alt="Blue Print on Table" width="480" height="320" style="margin-bottom: 30px;">
</div>
<p style="text-align: center;">Create the best kitchen you could ever hope for now. Whether you're installing a new stone countertop, researching natural quartz, or updating your kitchen backsplash, you can design your dream kitchen with us.</p>
<br>
<h2 style="font-family: 'verdana';font-weight:500;font-size:50px;color:#bd8201;text-align: center;">
Featured Categories
</h2>
<div class="container-fluid">
  <div class="row d-flex">
<div class="card d-flex" style="width: 33%;">
  <a href="tags/faucets">
  <img src="/img/fcImages/kitchen-faucets-on-shelf-closeup-plumbing-shop-PSC9EJX.webp" width="1080" height="720" style="height: 100%;width:100%;border: 0;background-size: cover;margin-top:10px" class="card-img-top" alt="Sinks on display">
</a>
  <div class="card-body">
    <h5 class="card-title d-flex justify-content-center my-auto mt-2" style="color: #112b3c;font-weight:900;">Faucets</h5>
  <hr>
    <p class="card-text">State-of-the-art kitchen faucets with tough finishes make no worry of dripping, corroded supply hoses, or leaking. We cover topics like regular upkeep and maintenance as well as shopping comparisons and reviews.</p>
    <a class="fcButton" href="tags/faucets">Go to Faucets</a>
  </div>
</div>
<div class="card d-flex" style="width: 33%;">
  <a href="tags/cabinets">
  <img src="/img/fcImages/modern-kitchen-cabinets-with-new-appliances-PZ7GU43.webp" width="1080" height="720" style="height: 100%;width:100%;border: 0;background-size: cover;margin-top:10px" class="card-img-top" alt="Home Design of Modern Kitchen Countertop">
  </a>
  <div class="card-body">
    <h5 class="card-title d-flex justify-content-center my-auto mt-2" style="color: #112b3c;font-weight:900;">Cabinets</h5>
    <hr><p class="card-text">For any project, remodeling your kitchen's cabinets can make a huge difference functionally and style-wise as they're one of the first things your guests notice. Find out about our little-known cabinet remodeling ideas.</p>
    <a href="tags/cabinets" class="fcButton">Go to Cabinets</a>
  </div>
</div>
<div class="card d-flex" style="width: 33%;">
  <a href="tags/countertops">
  <img src="/img/fcImages/close-up-of-woman-choosing-quartz-materials-for-co-JFBLMTE.webp" width="1080" height="720" style="height:100%;width:100%;border: 0;background-size: cover;margin-top:10px" class="card-img-top" alt="Woman selecting countertop materials">
  </a>
  <div class="card-body">
    <h5 class="card-title d-flex justify-content-center my-auto mt-2" style="color:#112b3c;font-weight: 900;">Countertops</h5>
    <hr><p class="card-text">Make your kitchen truly yours once again. With our industry reports you can improve the look of drab counters and restore the look of worn out countertops to bring it all back to a beautiful new kitchen of style and form. </p>
    <a href="tags/countertops" class="fcButton">Go to Countertops</a>
  </div>
</div>
</div>
</div>
<br>
<div class="container-fluid">
  <div class="row d-flex">
    <div class="card d-flex" style="width: 33%;">
      <a href="tags/flooring">
      <img src="/img/fcImages/laminate-floor-background-texture-wooden-laminate--SNAK39K.webp" width="1080" height="720" style="height:100%;width:100%;border: 0;background-size: cover;margin-top:10px" class="card-img-top" alt="Light shining upon hard wood floor">
      </a>
      <div class="card-body">
        <h5 class="card-title d-flex justify-content-center my-auto mt-2" style="color: #112b3c;font-weight: 900;">Flooring</h5>
        <hr><p class="card-text">Commonly installed from wall-to-wall and prized for its durability to withstand pressure over time. New flooring may improve the look and value of your house. Scratch-resistant technology is used to delay wear and tear. </p>
        <a href="tags/flooring" class="fcButton">Go to Flooring</a>
      </div>
    </div>
    <div class="card d-flex" style="width: 33%;">
      <a href="tags/wall-tiles">
      <img src="/img/fcImages/home-decor-renovation-and-remodeling-projects-kitc-Q989R7A.webp" width="1080" height="720" style="height:100%;width:100%;border: 0;background-size: cover;margin-top:10px" class="card-img-top" alt="Modern Design Kitchen Backsplash">
      </a>
      <div class="card-body">
        <h5 class="card-title d-flex justify-content-center my-auto mt-2" style="color: #112b3c;font-weight: 900">Wall Tiles</h5>
        <hr><p class="card-text">Better known as a kitchen backsplash, in recent technology, the unique positioning of wall tiles end up stopping water and food items from pooling on the surface, which may lead to water damage.</p>
        <a href="tags/wall-tiles" class="fcButton">Go to Wall Tiles</a>
      </div>
    </div>
    <div class="card d-flex" style="width: 33%;">
      <a href="tags/essentials">
      <img src="/img/fcImages/vegetarian-dinner-party-gathering-PJGXMN2.webp" width="1080" height="720" style="height:100%;width:100%;border: 0;background-size: cover;margin-top:10px;" class="card-img-top" alt="Table setting of dinner party guests sharing a meal">
      </a>
      <div class="card-body">
        <h5 class="card-title d-flex justify-content-center my-auto mt-2" style="color: #112b3c; font-weight: 900;">Essentials</h5>
        <hr><p class="card-text">Throwing a party with what you have? Want to leave a good impression? The kitchen is the capital of party city so whether you're throwing a wine tasting or you just don't know where to begin, essentials offers something new.</p>
        <a href="tags/essentials" class="fcButton">Go to Essentials</a>
      </div>
    </div>
  </div>
</div>
<div class="row" style="background:#eee;color:#111; padding: 20px; text-align: center;margin-top: 20px;">
<p class="align-items-center my-auto">Fall in love with your kitchen all over again and give each aspect the finest of detail. We cover a variety of topics such as, tile options, cabinet installation tips, heat resistant materials, and so much more.</p>
</div>
<br>
<h2 style="text-decoration: underline;text-underline-offset: 25px;font-size: 37px; font-family: verdana;font-weight:800;margin:50px 0px -150px 0px;text-align: center;">Recent Kitchen Renovation Posts
</h2>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</html>
