<style>
  @media only screen and (min-width: 768px) {
    .postImage {
      width: 40vh;
    }
    p {
      font-size: 25px;
      display: inline;
    }
  }
</style>

<div class="container-fluid d-flex justify-content-center">
<img class="postImage img-fluid d-flex justify-content-center" alt="{{ .Get 0 | markdownify }}"
 srcset="{{ .Get 2 | markdownify }} 324w, {{ .Get 1 | markdownify }} 720w"
 sizes="(max-width: 767px) 324w, 720w"
 src="https://ik.imagekit.io/wy/kri/{{ .Get 1 | markdownify }}"
 loading="lazy"
 style="max-width: 100%; height: auto;" />
</div>
